<div class="row text-center">
  {{#if this.cart.cartIsEmpty}}
    <div>Cart is empty</div>
  {{else}}
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {{#each-in this.cart.displayProductsDictionary as |productTitle productBreakdown|}}
          <tr>
            <td scope="row">
              <FaIcon {{on "click" (fn this.removeFromCart productBreakdown.productId)}} @icon="times-circle" /> 
              {{productTitle}}
            </td>
            <td>
              <select id="{{productBreakdown.productId}}-dropdown" {{on "change" (fn this.updateQuantity productBreakdown.productId)}} >
                {{#each quantityDropDownOptions as |optionValue|}}
                  <option value={{optionValue}}>{{optionValue}}</option>
                {{/each}}
              </select>
            </td>
            {{!-- <td>{{productBreakdown.count}}</td> --}}
            <td>{{productBreakdown.price}}</td>
          </tr>
        {{/each-in}}
        <tr>
          <td class="total-price-cell" colspan="2">Total Price</td>
          <td class="total-price">{{this.cart.totalCartPrice}}</td>
        </tr>
      </tbody>
    </table>
  {{/if}}
</div>
{{yield}}