<div class="card h-100">
  <img class="card-img-top" src={{@product.imageUrl}} alt="">
  <div class="card-body">
    <h4 class="card-title">{{@product.title}}</h4>
    <p class="card-text">{{@product.description}}</p>
  </div>
  <div class="card-footer">
    <span>{{@product.displayPrice}}</span>
    <button class="btn btn-primary" {{on "click" (fn this.addToCart @product)}}>Add To Cart</button>
  </div>
</div>

{{yield}}