<div class="card h-100">
  <img class="card-img-top" src={{@product.imageUrl}} alt="">
  <div class="card-body">
    <h4 class="card-title">{{@product.title}}</h4>
    <p class="card-text">{{@product.description}}</p>
  </div>
  <div class="card-footer">
    <span>{{@product.displayPrice}}</span>
    <a href="#" class="btn btn-primary">Find Out More!</a>
  </div>
</div>

{{yield}}